<p id="notice"><%= notice %></p>


<div class="w-screen p-8">
  <div class="grid grid-cols-7 w-full">
    <div class="flex border h-24"></div>
  </div> 
</div>

<%= link_to 'New Calendar Event', new_calendar_event_path %>
