<p id="notice"><%= notice %></p>

<div id="calendar-form">
  <%= render "form", calendar_event: @calendar_event %>
</div>

<div class="w-screen p-8">
  <div class="grid grid-cols-7 w-full" id="calendar-grid">
    <%= render partial: 'calendar_events/calendar_grid', locals: {dates: @dates, calendar_events: @calendar_events, date_range: @date_range} %>
  </div> 
</div>
